EDITOR_VERSION=2026-09-17
RELAY_VERSION=2026-09-17
STORE_VERSION=2026-09-17
RELAY_URL=wss://relay.example.com
EDITOR_URL=https://editor.example.com
STORE_URL=https://store.example.com
ICE_SERVERS=turn:editor.example.com:3478|webrtc|CHANGEME-long-random-string